@font-face {
    font-family: 'Poppins-bold';
    src: local('Poppins-bold'),
        url('../fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: local('Poppins-BoldItalic'),
        url('../fonts/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: local('Poppins-ExtraBoldItalic'),
        url('../fonts/Poppins-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: local('Poppins-Regular'),
        url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: local('Poppins-ExtraBold'),
        url('../fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins-Italic';
    src: local('Poppins-Italic'),
        url('../fonts/Poppins-Italic.ttf');
}

:root {
    --white: hsl(0, 0%, 100%);
    --OffWhite: hsl(0, 0%, 94%);
    --LightGrey: hsl(0, 0%, 86%);
    --SmokeyGrey: hsl(0, 1%, 44%);
    --OffBlack: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --LightRed: hsl(0, 100%, 67%);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--LightGrey);
    /* padding: 2em 0; */
    /* width: 100vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--SmokeyGrey);
    font-family: 'Poppins-Bold';
}

.container-geral {
    margin: 0 auto;
    background-color: var(--white);
    padding: 1.5em;
    max-width: 90%;
    border-radius: 18px 18px 100px;
}

.container-input-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
}

.container-input-form .container-input {
    max-width: 100%;
    text-align: left;
    margin: 10px;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

.container-input-form .container-input label {
    font-size: 10px;
}

.container-input-form .container-input input {
    width: 100%;
    font-family: 'Poppins-ExtraBold';
    font-size: 28px;    
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--LightGrey);
    color: var(--OffBlack);
}

.container-form {
    text-align: center;
    color: var(--SmokeyGrey);
}

button {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--Purple);
}

button img {
    max-width: 100%; 
}

.results {
    padding: .5em 0;
    font-size: 48px;
    color: var(--OffBlack);
    font-weight: bold;
    font-family: 'Poppins-ExtraBoldItalic';
}

.results p {
    line-height: 1em;
}

.results span {
    color: var(--Purple);
    font-weight: bold;
}

/*Erros*/
.erro {
    color: var(--LightRed);
    /* border: 1px solid var(--LightRed); */
}

.msg {
    display: block;
    font-weight: normal;
    font-family: 'Poppins-Italic';
    text-transform: capitalize;
}


.attribution {
    text-align: center;
    font-size: 12px;
    margin-top: 16px;
    padding: 10px;
}

@media (min-width: 768px) {

    body {
        margin: .1em 0;
    }

    .container-geral {
        padding: 1em 1.5em;
        max-width: 50%;
        border-radius: 18px 18px 150px;
    }


    .container-form {
        text-align: end;
    }

    .container-input-form {
        max-width: 85%;
        justify-content: flex-start;
        padding: 30px 0;
    }

    .container-input-form div input {
        font-size: 32px;
        font-weight: bold;
        padding: 15px;
        border-radius: 15px;
        border: 2px solid var(--LightGrey);
    }

    .container-input-form div {
        margin: 15px;
        line-height: 1.8em;
        font-size: 16px;
    }

    .container-input-form {
        padding: .2em 0;
    }

    button {
        width: 5em;
        height: 5em;
    }

    .results {
        padding: 0;
        font-size: 3.5rem;
        font-weight: bold;
    }

    .results p {
        line-height: 1.2em;
    }

}